body {
  margin: 0;
  height: 100%;
}

p {
  line-height: 1.6;
}

.header-h1 {
  display: flex;
}

header h1 {
  font-family: roboto;
  font-size: 13px;
  margin: 0;
}

.h1-name {
  font-weight: bold;
  margin-left: 5px;
}

.title-h1 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

.presentation-h1 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: roboto;
  font-size: 8px;
  font-weight: 300;
  border: solid #FDDFE7;
  margin: 3px;
  background-color: #FDDFE7;
}

h5 {
  font-family: roboto;
  font-size: 17px;
  font-weight: 100;
  color: #FA382F;
  margin-bottom: -12px;
}

h6 {
  font-family: roboto;
  font-size: 17px;
  font-weight: 100;
  color: #FA382F;
  margin-top: -10px;
  margin-bottom: -10px;
}

header {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/headerimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 36px 0 36px;
  margin-bottom: 5px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icon-links {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-left: 3px;
  margin-right: 2px;
}


.text-container {
  text-align: left;
  color: #FFFFFF;
  margin-top: 30px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
  margin-top: 10px;
}

.decoration {
  display: flex;
  align-items: center;
}

.line {
  width: 40px;
  height: 3px;
  background: red;
}

.dot {
  width: 9px;
  height: 9px;
  background: red;
  border-radius: 50%;
  margin-left: -3px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Montserrat;
  font-size: 17px;
  padding: 40px 36px;
  align-items: center;
}

.grey {
  background-color: #F4F4F4;
}

.linedot {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
}

.caption {
  font-family: Montserrat, bold;
  font-size: 20px;
  font-weight: bol;
  color: #FFFFFF;
  background: #FA382F;
  padding: 2px 10px;
  text-align: center;
  width: fit-content;
}

.project-title {
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
  color: #FA382F;
}

.tech {
  text-align: center;
}

.card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;

}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}


.card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FDDFE7;
  font-family: montserrat;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;

}

.food {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/foodreview.png");
  width: 270px;
  height: 177px;
  background-repeat: no-repeat;
  background-position: center;

}

.weather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("assets/weatherapp.png");
  width: 270px;
  height: 177px;
  background-position: center;
}

.tags {
  display: flex;
  flex-direction: row;
}

.red-caption {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #FA382F;
  margin-top: 40px;
  margin-bottom: 5px;
}

.more {
  margin-bottom: 35px;
}

.link-arrows {
  color: #FA382F;
  font-weight: 600;
}

.thought-image {
  width: 270px;
  height: 177px;
}

.thought-article {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.thought-caption {
  font-weight: bold;
}

.underlined-arrow {
  color: #FA382F;
  font-weight: 600;
  text-decoration: underline;
}

/* .skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

} */

ul {
  list-style-type: none;
}