body {
  margin: 0;
  height: 100%;


}

.header-h1 {
  display: flex;
  justify-content: space-between;

}

.h1-name {
  font-weight: bold;
}

header h1 {

  font-family: roboto;
  font-size: 13px;
  margin: 0;
}

header h2 {
  font-family: montserrat;
  font-weight: bolder;
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/headerimage.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 30%;
  margin-right: 8%;
  margin-bottom: 20%;
}

.header-links img {
  padding: 10px;
  margin-left: 3px;
  margin-right: 2px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  opacity: 1;
  object-fit: cover;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.profimg-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40%;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin: 25px;
  object-fit: cover;
  object-position: bottom;
  margin-block-end: -10px;
  margin-right: 25px;
}